<i class="close icon"></i>
<div class="header">
  <h1>Truck Description</h1>
</div>
<div class="content">
  <p>id : {{truck.id}}</p>
  <p>Type : {{truck.type}}</p>
  <p>Name : {{truck.name}}</p>
</div>
